<!DOCTYPE html>
<html>
<head>
	<title>All List</title>
</head>
<body>
	<h1>SPLY</h1>
	<div class="category">
	<% @category.each do |category|%>
		<a href="/products/category/<%=category.id%>"><%= category[:name] %></a>|
	<% end %>
	</div>

	<div class="product-made">
		<% @products.each do |product|%>
			<div class="product">
				<%=product.title%><br/>
				<%=product.product_price%><br/>
				<%=product.description%><br/>
				<button type="button" class="btn btn-secondary">Purchase</button>
			</div>
			<% end %>
		</div>

</body>
</html>
