<!DOCTYPE html>
<html>
<head>
	<title>All List</title>
</head>
<body>
	<h1>SPLY</h1>
	<% @category.each do |category|%>
		<a href="/products/category/<%=category.id%>"><%= category[:name] %></a>|
	<% end %>



	<% @products.each do |product|%>
		<ul>
			<li><%=product.title%></li>
			<li><%=product.product_price%></li>
			<li><%=product.description%></li>
			<button>Purchase</button>
		</ul>
	<% end %>
</body>
</html>
