  <h2>My List</h2>
    <ul>
      <% @products.each do |product| %>
      <img src="<%=product.image%>">
        <li>
            <%=product.title%>
            <%=product.product_price%>
            <a href="/products/<%= product.id %>/edit">(Edit)</a>
            <form action="/products/<%= product.id %>" method="POST">
              <input type="hidden" name="_method" value="DELETE">
              <button>Delete</button>
            </form>
        </li>
      <% end %>
    </ul>
